.no-products{
    text-align: center;
    height: 100vh;
    padding: 4em;
}
.no-products h1{
    margin-bottom: 2em;
}
.no-products .btn{
    margin:3em;
}
.bodycart-container{
    height: 100vh;
}
.cart-container{ 
    width: 80%;
    padding: 1.5em;
    margin: 3em auto;
    background-color: #ffffff;
    border-radius: .4em;
    box-shadow: 1px 1px 10px #0000006c;
}
.cart-title{
    text-align: center;
    color: #8a1538;
}

.head-cart {
    margin: 3em auto 0em auto!important;
    border-bottom: 3px solid #8a1538;
    width: 90% !important;
    padding-bottom: .5em;
}

.body-cart{
    margin:0 auto!important;
    border-bottom: 1.5px solid #8a1538;
    padding: 2.5em 0;
    width: 90% !important;
}
.footer-cart{
    margin: 2em auto !important;
    width: 90% !important;
}
.material-symbols-outlined{
    cursor: pointer;
}
.total-price{
    font-weight: 700
}
.btn-light{
    box-shadow: .5px .5px 8px ;
}
.footer-cart .btn-light:hover{
    background-color: #8a1538 !important;
    color: #ffffff !important;
}