
.bodycart-container{
    padding-bottom: 6em;
}
.cart-container{ 
    width: 80%;
    padding: 1.5em;
    margin: 3em auto;
    background-color: #ffffff;
    border-radius: .4em;
    box-shadow: 1px 1px 10px #0000006c;
}
.cart-title{
    text-align: center;
    color: #8a1538;
}

.head-cart {
    margin: 3em auto 0em auto!important;
    border-bottom: 3px solid #8a1538;
    width: 95% !important;
    padding-bottom: .5em;
}

.body-cart{
    margin:0 auto!important;
    border-bottom: 1.5px solid #8a1538;
    padding: 2.5em 0;
    width: 95% !important;
}
.footer-cart{
    margin: 2em auto !important;
    width: 95% !important;
}
.material-symbols-outlined{
    cursor: pointer;
}
.total-price{
    font-weight: 700
}
.btn-light{
    border: 1px solid black !important;
}
.footer-cart .btn-light:hover{
    background-color: #8a1538 !important;
    color: #ffffff !important;
}

@media (max-width: 768px){
    .cart-title{
        border-bottom: 3px solid #8a1538;
    }
    .head-cart{
        display: none !important;
    }
}
@media (max-width: 600px) {
    .prod-name{
        text-align: center;
    }
    
    .cart-container{ 
        width: 90%;
        margin: auto;
        margin-top: 5em;
    }
    .btn-checkout{
        text-align: center;
    }
    .btn-clean{
        text-align: center !important;
        margin: 1em auto !important;
    }
  }