.cont-detail {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .3em;
    margin: 5em auto;
    background-color: #ffffff;
    border-radius: .4em;
    box-shadow: 1px 1px 10px #0000006c;
    align-items: center;
    max-width: 850px;
}

.img-detail {
    width: 18em;
}

.cont-detail__img {
    background-color: #ffffff;
    padding: .5em;
    margin: 0;
}

.cont-detail__text {
    background-color: #f6f6f6;
    padding: 1.8em 1.8em 1em 1.8em;
    border-radius: .4em;
    border: #0000001e .5px solid;
    margin: 0.5em;
    width: auto;
}

.cont-detail__text h2 {
    font-size: 1.7em;
    text-align: center;
    padding-bottom: .5em;
    color: #8a1538;
    font-family: 'Playfair Display', serif;
    max-width: 400px;
    text-align: center;
}

.cont-detail__text h3 {
    padding: .5em;
    text-align: center;
    font-size: 1.5em;
}

.item-price {
    font-size: 27px;
    text-align: center;
}
.description{
    margin-top: 1.5em;
}
.item-description{
    max-width: 400px;
}
.counter-cont{
    margin-top: 3.5em;
}
.counter-cont p{
    margin-left: 4.2em;
    padding: .3em 0;
}