.detail{
    padding-bottom: 8em;
}
.cont-detail {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .3em;
    margin:  2em auto 0 auto;
    background-color: #ffffff;
    border-radius: .4em;
    box-shadow: 1px 1px 10px #0000006c;
    align-items: center;
    max-width: 850px;
}

.img-detail {
    width: 16em;
}

.cont-detail__img {
    background-color: #ffffff;
    padding: .5em;
    margin: 0;
}

.cont-detail__text {
    background-color: #f0f0f0;
    padding: 1.8em 1.8em 1em 1.8em;
    border-radius: .4em;
    border: #0000001e .5px solid;
    margin: 0.5em;
    width: auto;
}

.cont-detail__text h2 {
    font-size: 1.7em;
    text-align: center;
    padding-bottom: .5em;
    color: #8a1538;
    font-family: 'Playfair Display', serif;
    max-width: 400px;
    text-align: center;
}

.cont-detail__text h3 {
    padding: .5em;
    text-align: center;
    font-size: 1.5em;
}

.item-price {
    font-size: 27px;
    text-align: center;
}
.description{
    margin-top: 1.5em;
}
.item-description{
    max-width: 400px;
}
.counter-cont{
    margin-top: 3.5em;
}
.counter-cont p{
    margin-left: 4.2em;
    padding: .3em 0;
}
.btn-finish{
    width: 10em;
    background-color: #8a1538 !important;
}
.btn-finish:hover{
    background-color: #212529 !important;
}
.btn-back{
    background-color: #212529 !important;
    color: #ffffff !important;
}
.btn-back:hover{
    background-color: #8a1538 !important;
}

@media (max-width: 600px) {
    .cont-detail {
        width: 90%;
        margin: auto;
        padding: 0;
        margin-top:  5em;
    }
    .img-detail {
        width: 12em;
    }
}