
.cart{
    padding:.9em 8em .9em 1em;
}
.cart-img{
    text-decoration: none;
    width: 1.7em;
    padding-bottom: .7em;
}
.cart span{
    color: #ffffff;
    padding: 0 .2em 0 .2em;
    font-size: 1.6em;

}