/* .items-container{
    height: 100vh;
} */
.items-container hr{
    padding: 0;
    margin: 0.2em;
}

.greeting{
    text-align: center;
    padding: 0;
    margin: .7em auto;
    color: #8a1538;
    font-family: 'Playfair Display', serif;
    max-width: 1180px;
}

