.img-product {
    width: 8.5em !important;
    margin: 0 auto;
    transform: scale(0.9);
    transition: all .4s;
    position: relative;
}

.img-product:hover {
    transform: scale(1)
}

.card {
    margin-bottom: 2em;
    text-align: center;
    width: 16.5rem;
}

.card:hover {
    box-shadow: 1px 1px 15px #00000034;
}

.btn-detail {
    transition: .3s ease-out;
}

.btn-detail:hover {
    background-color: #8a1538 !important;
    cursor: pointer;
    transform: scaleX(1.1);
}

.card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8a1538;
    margin-top: .5em;
    max-height: 66px;
    min-height: 4em;
}

.card-text {
    padding: 0;
    margin: 0;
}

.card-body {
    padding-top: 0 !important;
}