
/* .navbar{
    box-shadow: 1px 1px 10px #8a1538;
} */

.logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:1.5em 0 1.5em 3em;
    font-size: 1.5em !important;
}
.btn-nav:hover{
    background-color: #8a1538 !important;
}
.btn-active{
    background-color: #8a1538 !important;
}