
.logo img{
    width: 190px;
}
.btn-nav{
    transition: .3s ease; 
}
.btn-nav:hover{
    background-color: #8a1538 !important;
    cursor: pointer;
    border-radius: 50% 10%;
}

.btn-active{
    background-color: #8a1538 !important;
    transform: scale(.85) !important;
    border-radius: 50% 10% !important;
}
.cart-cont{
    text-align: center;
}

.navbar{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 2;
}