.cont-counter{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-bottom: 1.5em;
}
.counter{
    text-align: center;
    width: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.counter button{
    width: 2.3em;
    height: 2.3em;
}
.num-count{
    font-size: 1.6em;
    color: #8a1538;
    margin: auto;
}

.add-cart button{
    width: 10em;
    background-color: #8a1538 !important;
}
.add-cart button:hover{
    background-color: #212529 !important;
}